* {
    box-sizing: border-box;
    text-align: center;
}

#header {
    font-size: 25px;
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: blue;
}

#nav {
    padding; 20px;
    margin-bottom; 20px;
    color: #333;
    background: green;
}

#section {
    background: red;
    width: 60%;
    height: 300px
}

#aside {
    float: left;
    color: #333;
    background: yellow;
}