* {
    box-sizing: border-box;
    text-align: center;
}
#header {
    font-size: 25px;
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: blue;
}
#nav {
    padding; 20px;
    margin-bottom; 20px;
    color: #333;
    background: green;
}
#article {
    background: red;
    width: 60%;
    height: 100px;
    margin: auto
}
#aside {
    color: #333;
    background: yellow;
    float: right;
    width: 40%;
    height: 118px
}
#section {
    background: blue;
    width: 59%;
    float: left
}
#h1h2h3 {
    background: green;
    width: 80%;
    margin: auto
}
#p {
    background: purple;
    margin: auto;
    width: 80%
}
#footer {
    background: greenyellow;
    clear: both;
    margin-top: inherit
}
