body {
    text-align: center;
    padding-left: 14%;
}
.bodyboi {
    /* I didn't see "Helvetica Neue" */
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px
}
#header {
    font-weight: bold;
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ebebeb;
    font-size: 40px;
}
#nav {
    display: inherit;
    background: #ebebeb;
    margin-bottom: 20px;
    height: 40px;
    line-height: 36px;
    padding-left: 28px;
}
#article {
    background: #777;
    color: #ebebeb;
    width: 90%;
    height: 400px;
    margin: auto;
    margin-top: 20px;
    padding-top: 20px;
}
#aside {
    color: #333;
    background: #ebebeb;
    float: right;
    width: 46%;
    height: 459px
}
#section {
    background: #ebebeb;
    width: 495px;
    float: left;
    height: 459px;
}
#arthead {
    background: #ebebeb;
    color: #777;
    width: 80%;
    margin: auto;
    font-size: 25px;
    font-weight: bold 
}
#p {
    background: #ebebeb;
    color: #777;
    margin: auto;
    margin-top: 30px;
    width: 80%;
    overflow: scroll;
    height: 300px
}
#footer {
    background: #ebebeb;
    clear: both;
    margin-top: 435px;
    height: 50px;
    line-height: 2.6;
}
#img {
    margin-top: 93px;
}

